.tables-container {
    display: flex;
    flex-direction: column;
}

.tables-container table {
    margin-bottom: 30px;
}

.games-container {
    margin-top: 40px;
}

table {
    margin-bottom: 30px;
    min-width: 60vw;
}