.table-container {
  overflow-x: scroll;
  margin-top: 30px;
}

table {
  margin: 0;
  border-spacing: 0;
  font-size: 18px;
  box-shadow: 1px 1px 6px black;
}

table td,
table th {
  padding: 5px 20px;
  text-align: left;
}

table th {
  background-color: #053975;
  color: white;
}
table thead tr:last-child th {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  table td,
  table th {
    padding: 5px 8px;
  }
}
